body{
    font-family: "Arial";
}

.logos_reporte{
    display: flex;
    align-items: center;
    justify-content: center
}
.logos{
    margin: 0 5em;
    height: 7em;
}

h1{
    text-align: center;
    font-size: 30px;
}

h2{
    text-align: center;
}

#ReporteParcial{
    margin: 0 auto;
    border: 3px solid #000000;
    align-content: center;
    width: 50em;
    padding: 1em 2em;
    border-radius: 5px;
}

.primer{
    text-align: center;
}

#periodo{
    margin-left: 1em;
    width: 12em;
    height: 2em;
    text-align: center;
    font-size: 15px;
}

.label_report{
    margin-right: 1em;
}

.label_numreport{
    margin: 10px;
}

.label_numreport:hover{
    font-family: "Arial Black";
    color: #ff7c10;
}

.label_tut{
    margin-left: 1em;
}

#nom_tutor{
    margin-right: 2em;
    text-align: center;
    width: 30em;
    height: 2em;
    font-size: 15px;
}

#semestre{
    margin-right: 2em;
}

.sem_grup{
    margin-left: 5px;
    text-align: center;
    width: 4em;
    height: 1.7em;
    font-size: 15px;
}

#programap{
    margin-right: 3em;
    text-align: center;
    height: 1.5em;
    width: 25em;
    font-size: 15px;
}

#num_tutoradop{
    margin-left: 10px;
    text-align: center;
    height: 1.5em;
    width: 4em;
    font-size: 15px;
}

table, th, td{
    border: 1px solid #000000;
    border-collapse: collapse;
    color: #000000;
    margin: 0 auto;
    font-size: 15px;
}

th{
    height: 2em;
    color: black;
    background-color: #ff7c10;
}

.num_materia{
    width: 3em;
    text-align: center;
}

.nom_materia{
    width: auto;
    text-align: center;
}
.materia{
    border: none;
    width: 20em;
    height: 1.2em;
    text-align: justify;
    font-size: 15px;
    padding: 4px;
    font-family: Arial;
}


.materia_reprobada{
    width: auto;
    text-align: center;
}
.num-materia{
    border: none;
    width: 3em;
    height: 1.2em;
    text-align: center;
    font-size: 15px;
    padding: 4px;
}

.porcentaje_reprobado{
    width: auto;
    text-align: center;
}
.por-materia{
    border: none;
    width: 3em;
    height: 1.2em;
    text-align: center;
    font-size: 15px;
    padding: 4px;
    color: red;
}

.cajas_numrbd{
    margin-left: 1em;
    width: 4em;
    height: 1.5em;
    text-align: center;
}

#desertados{
    margin-left: 3em;
}

#becarios{
    margin-left: 1.5em;
    width: 30em;
    height: 1.5em;
    text-align: center;
}

.nom_canalizaciones{
    width: 25em;
}

.num_canalizaciones{
    width: auto;
    text-align: center;
}

.num_canalip{
    border: none;
    width: 3em;
    height: 1.5em;
    text-align: center;
    font-size: 15px;
}

.area_texto{
    text-align: justify;
    margin: 5px auto 0;
    display: block;
    font-size: 17px;
    font-family: Arial;
    padding: 5px 5px;
}

.respuesta_tutores{
    text-align: center;
    width: 22em;
    height: 2.5em;
    font-size: 17px;
    font-family: Arial;
}

.botones_reporte{
    height: 3.5em;
    display: flex;
    align-items: center;
    justify-content: center
}

.bot-generadores{
    color: white;
    background: #585656;
    border-radius: 5px;
    border: none;
    width: 10em;
    height: 3em;
    margin: 0 1.5em;
    display:inline;
}

.bot-generadores:hover {
    cursor:pointer;
    font-family: "Arial Black";
    color: black;
    background: #ff7c10;

}

#cerrarRParcial:hover{
    cursor:pointer;
    font-family: "Arial Black";
    background: #fc1e1e;
    color: #000000;
}

#base_reporte{
    text-align: center;
}