body{
    font-family: "Arial";
}

.logos_reporte{
    text-align: center;
}
.logos{
    height: 7em;
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center;
    font-size: 30px;
}

h2{
    text-align: center;
}

#ReporteFinal{
    margin: 0 auto;
    border: 3px solid #000000;
    align-content: center;
    width: 50em;
    padding: 1em 2em;
    border-radius: 5px;
}

.primer{
    text-align: center;
}

#periodo{
    width: 12em;
    height: 2em;
    text-align: center;
    font-size: 15px;
}

#nom_tutor{
    text-align: center;
    width: 20em;
    height: 1.5em;
    font-size: 15px;
}
.sem_grup{
    text-align: center;
    width: 4em;
    height: 1.7em;
    font-size: 15px;
}
#programa{
    text-align: center;
    height: 1.5em;
    font-size: 15px;
}
#num-tutorado{
    text-align: center;
    height: 1.5em;
    font-size: 15px;
}

table, th, td{
    border: 1px solid #000000;
    border-collapse: collapse;
    color: #000000;
    margin: 0 auto;
    font-size: 15px;
}

th{
    height: 2em;
    color: black;
    background-color: #ff7c10;
}

.num_materia{
    width: 3em;
    text-align: center;
}

.nom_materia{
    width: auto;
    text-align: center;
}
.materia{
    width: 20em;
    height: 1.2em;
    text-align: justify;
    font-size: 15px;
    padding: 4px;
    font-family: Arial;
}


.materia_reprobada{
    width: auto;
    text-align: center;
}
.num-materia{
    width: 3em;
    height: 1.2em;
    text-align: center;
    font-size: 15px;
    padding: 4px;
}

.porcentaje_reprobado{
    width: auto;
    text-align: center;
}
.por-materia{
    width: 3em;
    height: 1.2em;
    text-align: center;
    font-size: 15px;
    padding: 4px;
}

.reuniones{
    width: 5em;
    height: 1.5em;
    text-align: center;
}
.becarios{
    width: 25em;
    height: 1.5em;
    text-align: center;
}
.desertaron{
    width: 5em;
    height: 1.5em;
    text-align: center;
}

.nom_canalizaciones{
    width: 25em;
}

.num_canalizaciones{
    width: auto;
    text-align: center;
}

.canalizacion{
    width: 3em;
    height: 1.5em;
    text-align: center;
    font-size: 15px;
}

.botones_reporte{
    text-align: center;
}



#base_reporte{
    text-align: center;
}

.area_texto{
    text-align: justify;
    margin: 5px auto 0;
    display: block;
    font-size: 17px;
    font-family: Arial;
    padding: 5px 5px;
}

.respuesta_tutores{
    text-align: center;
    width: 22em;
    height: 2.5em;
    font-size: 17px;
    font-family: Arial;
}

.bot-generadores{
    background-color: #453d3d;
    width: 8em;
    height: 2em;
    color: white;
    margin: 0 auto;
    display:inline;
}
