body{
    alignment: center;
    font-family: "Gill Sans MT";
}

h1{
    text-align: center;
}

.dato{
    font-family: Arial;
}

.subtema{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

table, th, td{
    border: 1px solid #000000;
    border-collapse: collapse;
    margin: 0;
    font-family: "Arial";
    font-size: 15px;
    color: #000000;
}

form{
    width: 63em;
    padding: 1em 2em;
    margin: 0 auto;
    align-content: center;
    border-radius: 15px;
    border: 2px solid #ff1c00;
}

.opciones{
    width: 3.5em;
    text-align: center;
}

.no_pregunta{
    width: 2.5em;
    text-align: center;
}

.preguntas{
    width: 45em;
}

.preguntas2, .preguntas3, .preguntas4{
    width: 60em;
}

.marca_x{
    width: 1.5em;
    text-align: center;
}

#botones_pedagogia{
    text-align: center;
}

.boton_pgia{
    width: 8em;
    height: 2em;
    margin: 0 auto;
    display:inline;
    color: #000000;
}

#validados1,#validados2,#validados3{
    text-align: center;
    width: 15em;
}

#cadena1,#cadena2,#cadena3{
    text-align: center;
    width: 20em;
}