body{
    font-family: Arial;
    margin: 0;
    padding: 0 10px;
}

#areaTutor{
    margin: 0 auto;
    width: auto;
    text-align: center;
    padding: 1em 0;
}

#datosTutor{
    margin: 0 5px;
    width: 50em;
    display:inline-block;
    vertical-align:middle;
    text-align: left;
}

h1{
    font-size: 25px;
    margin: 0;
    text-align: center;
    padding: 0 0 0.5em;
}

h2{
    text-align: center;
    margin: 0;
}

#nombreUsuarioT{
    color: #0c9800;
    font-size: 30px;
    text-align: center;
}

.logosTutor{
    height: 10em;
    display:inline-block;
    vertical-align:middle;
}

li{
    cursor: pointer;
}

/*menus*/
.menuTutor{
    list-style: none;
    padding: 0;
    background: black;
    text-align: center;
    width: auto;
    margin: auto;
}

.menuTutor li a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 20px;
    display: block;
}

.menuTutor li{
    display: inline-block;
    text-align: center;
}

.menuTutor li a:hover{
    background: rgba(255, 90, 0, 0.8);
    color: #FFFFFF;
}

/*sub-menus*/
.submenuTutor{
    padding: 0;
    display: none;
    position: absolute;
    background: black;
}

.submenuTutor li{
    display: block;
    text-align: left;
}

.menuTutor li:hover .submenuTutor{
    display: block;
}

.menuTutor li .submenuTutor a{
    line-height: unset;
    white-space: nowrap;
}

.menuTutor li .submenuTutor a:hover{
    background: rgb(71, 74, 74);
    color: #FFFFFF;
}

/*sub-menus2*/
.submenuTutor2{
    padding: 0;
    display: none;
    position: absolute;
    background: #011029;
    color: #FFFFFF;
    margin-top: -60px;
    margin-left: 18.2em;
}

.menuTutor li:hover .submenuTutor li:hover .submenuTutor2{
    display: block;
}

ion-icon{
    margin-left: 5px;
}

#parrafoTut{
    padding: 0;
    font-size: 20px;
    text-align: justify;
}


/* TABLA DATOS USUARIO DEL TUTOR */
#tabla_usutUT, .th_tablausuTut, .td_tablausuTut{
    border: 1px solid #000000;
    border-collapse: collapse;
    font-size: 15px;
    color: #000000;
}

#tabla_usutUT{
    margin: 1em auto;
}

.datos_usuTut{
    font-size: 20px;
    margin: 0;
    text-align: left;
}

#th_usuT{
    background: #000348;
    color: #FFFFFF;
    height: 2em;
}

.th_tablausuTut, .td_tablausuTut{
    padding: 5px 10px;
}

.th_tablausuTut{
    text-align: left;
    font-size: 20px;
}


/*TABLA DE ALUMNOS DEL ITSP*/
#tabla_alumnosITSP, .th_taITSP, .td_taITSP{
    border: 1px solid #000000;
    border-collapse: collapse;
    font-size: 15px;
    color: #000000;
}

#tabla_alumnosITSP{
    margin: 1em auto;
    width: auto;
}

#thAlumnosITSP{
    background: #ff5200;
    color: #FFFFFF;
    height: 2em;
    text-align: center;
}

.th_taITSP{
    height: 1.7em;
    width: 10em;
    font-size: 15px;
    padding: 2px 5px;

}

.td_taITSP{
    padding: 2px 5px;
    text-align: center;
}


/*BOTÓN PARA AGREGAR ALUMNOS A MI LISTA*/
.agregar{
    margin: 2px 0;
    width: 9em;
    height: 2em;
}

.agregar:hover{
    font-family: "Arial Black";
    cursor: pointer;
    background: #0fa703;
}

/*BOTÓN PARA ELIMINAR ALUMNOS DE MI LISTA*/
.eliminar{
    margin: 2px 0;
    width: 9em;
    height: 2em;
}

.eliminar:hover{
    font-family: "Arial Black";
    cursor: pointer;
    background: #f51d1d;
}

/*BOTONES DE LA FILA ALUMNOS*/
.btn_alumno{
    margin: 2px 0;
    height: 2em;
}

.btn_alumno:hover{
    cursor: pointer;
    background: #0fa703;
}


/*TABLA MIS ALUMNOS*/
#tabla_misAlumnos, .th_misAlumnos, .td_misAlumnos{
    border: 1px solid #000000;
    border-collapse: collapse;
    font-size: 15px;
    color: #000000;
}

#tabla_misAlumnos{
    margin: 1em auto;
    width: auto;
}

#thAlumnos{
    background: #ff5200;
    color: #FFFFFF;
    height: 2em;
    text-align: center;
}

.th_misAlumnos{
    font-size: 15px;
    padding: 2px 5px;
    height: 1.7em;
}

.td_misAlumnos{
    padding: 2px 5px;
    text-align: center;
}


/*DIV TUTOR*/
.contentTutor{
    margin: 0 auto;
    background: #ef8b4d;
    width: auto;
    height: auto;
}

.vmodal_trayectorias{
    margin: 0;
    //max-height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    overflow: auto;
    text-align: center;
    justify-content: center
}

.iframe_trayectoria{
    background: rgba(255, 255, 255, 0.9);
    margin: 2em;
    width: 70em;
    height: 55em;
}

#modalTitulacion{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#iframe_titulacion{
    vertical-align: middle;
    background: rgba(255, 255, 255, 0.9);
    margin: 2em auto;
    width: 80em;
    height: 25.2em;
}

/*
.vmodal_prueba{
    margin: 0;
//max-height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;
    align-items: center;
    overflow: auto;
}*/