body{
    font-family: "Arial";
    margin: 0;
    background-image: url("../img/foto_cita.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display:block;
}

h1{
    text-align: center;
    color: #ff5a00;
    font-size: 2em;
    margin: 0 auto;
    display: block;
}

h2{
    color: #FFFFFF;
    margin: 0;
}

#advertencia{
    text-align: center;
    color: #FFFFFF;
    background: #900000;
    margin: 0 auto;
    width: 26em;
    padding: 10px;
}

#form_alumno{
    background: rgba(0, 0, 0, 0.55);
    color: #FFFFFF;
    border-radius: 1em;
    display:block;
    width: 62em;
    margin: 2em auto;
    padding: 1em 2em;
}

/*Fila 1*/
#no_ficha, #generacion{
    font-family: "Arial Black";
    margin-left: 5px;
    font-size: 15px;
    width: 7em;
    text-align: center;
    color: #ff0600;
}

.labelfecha{
    margin-left: 6em;
}

#f_registro{
    margin-left: 5px;
    margin-right: 6em;
    font-size: 15px;
    width: 10em;
    color: #ff0600;
    text-align: center;
    font-family: Arial;
}

#btngeneracion{
    border: none;
    margin-left: 1em;
    height: 1.7em;
    width: 7em;
}

#btngeneracion:hover{
    font-family: "Arial Black";
    background: #54e502;
}

/*Fila 2*/
.nom_pat_mat {
    margin-left: 1em;
    font-size: 15px;
    width: 15em;
    height: 20px;
    text-align: center;
}

/*Fila 3*/
#fnacimiento{
    margin-left: 2px;
    margin-right: 2em;
    font-size: 15px;
    width: 10em;
    color: #ff0600;
    text-align: center;
    font-family: Arial;
}

#sexo{
    margin-left: 2px;
    margin-right: 2em;
    font-size: 15px;
    width: 8em;
    text-align: center;
}

.ind_sino{
    margin-left: 10px;
}

.label_edad{
    margin-left: 2em;
}

#edad{
    font-family: "Arial Black";
    margin-left: 2px;
    width: 4em;
    font-size: 15px;
    text-align: center;
    color: #ff0600;
}

/*Fila 4*/
.edo_civil{
    margin-left: 10px;
}

.label_telcel{
    margin-left: 3em;
}

#telefono{
    margin-left: 2px;
    margin-right: 3em;
    font-size: 15px;
    width: 8em;
    text-align: center;
    color: #ff0600;
}

#email{
    margin-left: 2px;
    font-size: 15px;
    width: 17em;
    text-align: center;
}

/*Fila 5*/
#avenida_calle, #esquina{
    margin-left: 2px;
    font-size: 15px;
    width: 24em;
    text-align: center;
}

.label_esquina{
    margin-left: 3em;
}

/*Fila 6*/
#numero{
    margin-left: 2px;
    margin-right: 6em;
    font-size: 15px;
    width: 5em;
    text-align: center;
    color: #ff0600;
}

#colonia {
    margin-left: 2px;
    margin-right: 6em;
    font-size: 15px;
    width: 15em;
    text-align: center;
}

#codpos {
    margin-left: 2px;
    font-size: 15px;
    width: 7em;
    text-align: center;
    color: #ff0600;
}

/*Fila 7*/
#municipio, #estado{
    margin-left: 2px;
    font-size: 15px;
    width: 14em;
    height: 1.6em;
    text-align: center;
}

.label_municipio {
    margin-left: 3em;
}

.label_localidad{
    margin-left: 3em;
}

#localidad {
    margin-left: 2px;
    font-size: 15px;
    width: 14em;
    text-align: center;
}

/*Fila 7.1*/
#estados div{
    display: none;
}

#nom_estado {
    margin-left: 2px;
    margin-right: 4em;
    font-size: 15px;
    width: 14em;
    height: 1.6em;
    text-align: center;
}

#nom_municipio {
    margin-left: 2px;
    font-size: 15px;
    width: 14em;
    text-align: center;
}

/*Fila 8*/
.tipo_prepa {
    margin-right: 2.5em;
}

.tipo_otra {
    margin-right: 5px;
}

#otro_bach{
    width: 15em;
    font-size: 15px;
    text-align: center;
    display: none;
}


/*Fila 9*/
.tipo_area {
    margin-left: 1.5em;
}


/*Fila 10*/
#preparatoria{
    margin-left: 5px;
    margin-right: 5em;
    font-size: 15px;
    width: 30em;
    text-align: center;
}

#prom_prepa{
    margin-left: 5px;
    font-size: 15px;
    width: 5em;
    text-align: center;
}


/*Fila 11*/
.texto_carreras {
    font-size: 25px;
}

.carreras {
    margin-left: 22px;
    font-size: 25px;
    text-align: center;
}


/*Fila 12*/
#botones{
    height: 7em;
    display: flex;
    align-items: center;
    justify-content: center
}

.boton {
    font-size: 14px;
    border: none;
    border-radius: 10px;
    width: 13em;
    height: 2.3em;
    margin: 0 1.5em;
    color: #000000;
}

.boton:hover{
    font-family: "Arial Black";
    background: #54e502;
}


/*Fila 13*/
.areas{
    height: 13em;
    display: flex;
    align-items: center;
    justify-content: center

}

.a_carpetas{
    margin: 2em;
}

.carpetas{
    width: 15em;
}

/*CAMBIO DE COLOR PARA LOS RAIDOS Y CHECKBOX*/
.carreras:hover, .ind_sino:hover, .edo_civil:hover, .tipo_prepa:hover, .tipo_otra:hover, .tipo_area:hover{
    color: #54e502;
}


/*VENTANAS MODALES*/
.areas-acceso{
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#areas{
    background: rgba(85, 5, 4, 0.8);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 30em;
    height: 10em;
    text-align: center;
    margin: auto;
    border-radius: 1.5em;
    position: absolute;
}

#contenido_area{
    padding: 2em;
    width: auto;
    margin: auto;
}

.area_acceso{
    text-align: center;
    width: 15em;
    height: 2em;
    font-size: 20px;
}

.botones_acceso{
    border: none;
    border-radius: 10px;
    margin: 0 5px;
    text-align: center;
    font-size: 15px;
    width: 10em;
    height: 3em;
    font-family: "Britannic Bold";
}

.botones_acceso:hover{
    color: #FFFFFF;
    background: #390202;
}