body{
    font-family: "Gill Sans MT";
    margin: 0;
    text-align: center;
    background-image: url("../img/foto_cita3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    text-align: center;
    color: #fff;
    font-size: 2.5em;
}

h2{
    color: #fff;
    text-align: center;
}

#itsp_logo{
    height: 30em;
    display: block;
    margin: 0 auto;
    border:none;
}

#significado{
    text-align: justify;
    color: white;
    font-size: 27px;
    width: 53em;
    display: block;
    margin: 0 auto;
}

#significado2{
    margin: 0 auto;
    width: 10.5em;
    font-size: 27px;
}

.boton_acceso, .boton_acceso-salir{
    margin: 0 3px;
    width: 15em;
    height: 3em;
    font-size: 15px;
    color: #000000;
    border-radius: 4px;
    border: 2px solid #000000;
}

.boton_acceso:hover{
    font-family: "Arial Black";
    cursor:pointer;
    background: darkgreen;
    color: #ffffff;
    border: 2px solid #ffffff;
}

.boton_acceso-salir:hover{
    font-family: "Arial Black";
    cursor:pointer;
    background: #900000;
    color: #FFFFFF;
    border: 2px solid #ffffff;
}

.modal-fondo{
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#v_modal{
    background: none;
    border: 4px solid #ffffff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 35em;
    height: 18em;
    margin: auto;
    border-radius: 1.5em;
    position: absolute;
}

#candado{
    margin-top: 2em;
    width: 7em;
    display:inline;
    vertical-align:middle;
    margin-right: 2em;
}

#contenido_modal{
    margin-top: 2em;
    display:inline-block;
    vertical-align:middle;
}

#contenido_modal2{
    margin: 0;
    vertical-align:middle;
    text-align: center;
}

.login{
    border-radius: 5px;
    color: black;
    text-align: center;
    background: #FFFFFF;
    width: 15em;
    height: 2em;
    font-size: 20px;
}

.botones_login{
    margin: 5px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    text-align: center;
    background: none;
    color: white;
    font-size: 15px;
    width: 10em;
    height: 3em;
}

.botones_login:hover{
    background: rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
    font-family: "Arial Black";
}

#v_modal_reportes{
    background: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 20em;
    height: 17em;
    margin: auto;
    border: 4px solid #ffffff;
    border-radius: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center
}

#contenido_modal_reportes{
    padding: 2em;
    width: auto;
    margin: auto;
}

.login_reportes{
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    width: 15em;
    height: 3em;
    background: rgba(255, 255, 255, 0.5);
    color: #000000;
}

#reporteParcial:hover{
    font-family: "Arial Black";
    background: rgba(255, 124, 16, 0.5);
    color: #FFFFFF;
}

#reporteFinal:hover{
    font-family: "Arial Black";
    background: rgba(17, 68, 191, 0.5);
    color: #FFFFFF;
}

#reporteSalir:hover{
    font-family: "Arial Black";
    background: rgba(167, 9, 9, 0.5);
    color: #FFFFFF;
}

#v_modal_nip{
    margin: auto;
    padding: 2em;
    background: rgba(0, 0, 0, 0);
    border: 4px solid #ffffff;
    border-radius: 1.5em;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 32em;
    height: 13em;
    position: absolute;
    text-align: center;
}

#candado2{
    width: 7em;
    display:inline-block;
    vertical-align:middle;
    margin-right: 1em;
}

#contenido_modal_nip{
    display:inline-block;
    vertical-align:middle;
    margin-left: 2em;
}

#contenido_modal_nip2{
    text-align: center;
}

.login_nip{
    text-align: center;
    border: none;
    border-radius: 10px;
    background: #ffffff;
    color: #000000;
    width: 15em;
    height: 2em;
    font-size: 20px;
}

#solo_nip{
    text-align: center;
    border: 4px solid #ffffff;
    background: rgba(0, 0, 0, 0);
    padding: 2em;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 20em;
    height: 7em;
    margin: auto;
    border-radius: 10px;
    position: absolute;
    align-content: center;
}

#pass-nip{
    color: #FFFFFF;
    border: 2px solid #ffffff;
    background: rgba(255, 255, 255, 0.2);
    width: 20em;
    height: 3em;
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
}

.boton_formcita{
    color: #FFFFFF;
    border-radius: 10px;
    border: 2px solid #ffffff;
    background: none;
    width: 10em;
    height: 3em;
    text-align: center;
}

#btn_formcita{
    margin-right: 1em;
    padding: 0;
    text-decoration: none;
}

.boton_formcita:hover{
    background: rgba(255, 255, 255, 0.2);
    font-family: "Arial Black";
}

#v_modal_cita{
    margin: auto;
    padding: 0;
    text-align: center;
    border: 4px solid #ffffff;
    background: rgba(3, 4, 88, 0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 60em;
    height: 25em;
    border-radius: 2em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center
}

.form_pcita{
    font-family: Arial;
    margin: 0;
}

.cita_nombre{
    color: #FFFFFF;
    border: 2px solid #ffffff;
    background: none;
    font-size: 15px;
    width: 20em;
    height: 2em;
    text-align: center;
}

.cita_apellidos{
    color: #FFFFFF;
    border: 2px solid #ffffff;
    background: none;
    margin-left: 1em;
    font-size: 15px;
    width: 15em;
    height: 2em;
    text-align: center;
}

#nominaCoord{
    margin-right: 5em;
    border: 2px solid #ffffff;
    color: #FFFFFF;
    background: none;
    font-size: 15px;
    height: 2em;
    text-align: center;
}

#titleSexo{
    font-family: Arial;
    color: white;
    margin-right: 2em;
}

.seCoord{
    font-family: Arial;
    margin-left: 1em;
    color: white;
}

#cita_tutoria{
    color: #FFFFFF;
    border: 2px solid #ffffff;
    background: none;
    font-size: 15px;
    width: 25em;
    height: 2.2em;
    text-align: center;
}

#cita_email{
    color: #FFFFFF;
    border: 2px solid #ffffff;
    background: none;
    margin-left: 2em;
    font-size: 15px;
    width: 25em;
    height: 2em;
    text-align: center;
}

.cita_login{
    color: #FFFFFF;
    border: 2px solid #ffffff;
    background: none;
    margin: 0 1em;
    font-size: 15px;
    width: 15em;
    height: 2em;
    text-align: center;
}

.cite_name{
    margin: 2em auto;
    width: 93em;
    text-align: left;
}

cite{
    font-size: 20px;
    color: #FFFFFF;
}


/*.modal-fondo2{
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;
}*/
