body{
    font-family: "Arial";
}

h1{
    text-align: center;
}

h2{
    margin: 0;
}

#posttest_alumnos{
    display:block;
    align-content: center;
    width: 62em;
    margin: 0 auto;
    padding: 1em;
    border-radius: 10px;
    border: 5px solid #000000;
}

#sem_posttest{
    margin-left: 10px;
    font-size: 15px;
    text-align: center;
    width: 10em;
    height: 2em;
}

#parrafoPT{
    font-family: "Berlin Sans FB";
    font-size: 22px;
}

table, th, td{
    border: 1px solid #000000;
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 15px;
    color: #000000;
}

.no_escala{
    font-family: "Arial Black";
    width: 5em;
    text-align: center;
}

.escala_th{
    background: #ee3434;
    height: 2em;
}

.post_escala{
    padding: 5px 10px;
    width: 22em;
}

.resultado_posttest{
    width: 7em;
    text-align: center;
}

.escala_posttest{
    background: none;
    border: none;
    width: 3em;
    height: 2em;
    color: #bc0707;
    text-align: center;
    font-family: Arial;
    font-size: 30px;
}

#botones_posttest{
    height: 5em;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center
}

.boton_posttest{
    margin: 0 2em;
    border-radius: 5px;
    border: none;
    width: 10em;
    height: 3em;
    display:inline;
    color: #000000;
}

#guardarPostTest:hover{
    font-family: "Arial Black";
    background: #00ff38;
    cursor:pointer;
}

#cerrarPostTest:hover{
    font-family: "Arial Black";
    background: #fc1e1e;
    cursor:pointer;
}

a{
    text-decoration: none;
}