body{
    font-family: Arial;
}

.logos_reportef{
    display: flex;
    align-items: center;
    justify-content: center
}

.logosf{
    margin: 0 5em;
    height: 7em;
}

h1{
    text-align: center;
    font-size: 30px;
}

h2{
    text-align: center;
}

#ReporteFinal{
    margin: 0 auto;
    border: 3px solid #000000;
    align-content: center;
    width: 50em;
    padding: 1em 2em;
    border-radius: 5px;
}

.primerf{
    margin: 0 0 1em;
    text-align: center;
}

#periodofinal{
    width: 20em;
    height: 2em;
    text-align: center;
    font-size: 15px;
}

#nom_tutorf{
    margin-right: 1.5em;
    text-align: center;
    width: 30em;
    height: 2em;
    font-size: 15px;
}

.sem_grupf{
    text-align: center;
    width: 5em;
    height: 2em;
    font-size: 15px;
}

#semestref{
    margin-right: 1.5em;
}

#programaf{
    margin-right: 2em;
    text-align: center;
    height: 1.5em;
    width: 25em;
    font-size: 15px;
}

#num_tutoradof{
    margin-left: 5px;
    text-align: center;
    height: 1.5em;
    width: 4em;
    font-size: 15px;
}

table, th, td{
    border: 1px solid #000000;
    border-collapse: collapse;
    color: #000000;
    margin: 0 auto;
    font-size: 15px;
}

th{
    height: 2em;
    color: white;
    background-color: #1144bf;
}

.num_materia{
    width: 3em;
    text-align: center;
}

.nom_materia{
    width: auto;
    text-align: center;
}

.materiaf{
    border: none;
    width: 20em;
    height: 1.2em;
    text-align: justify;
    font-size: 15px;
    padding: 4px;
    font-family: Arial;
}

.materia_reprobada{
    width: auto;
    text-align: center;
}

.num_materiaf{
    border: none;
    width: 3em;
    height: 1.2em;
    text-align: center;
    font-size: 15px;
    padding: 4px;
}

.porcentaje_reprobado{
    width: auto;
    text-align: center;
}

.por_materiaf{
    border: none;
    width: 3em;
    height: 1.2em;
    text-align: center;
    font-size: 15px;
    padding: 4px;
    color: red;
}

.cajasf_numrbd{
    margin-left: 1em;
    width: 4em;
    height: 1.5em;
    text-align: center;
}

#desertadosf{
    margin-left: 3em;
}

#becariosf{
    margin-left: 1.5em;
    width: 30em;
    height: 1.5em;
    text-align: center;
}

.nom_canalizaciones{
    width: 25em;
}

.num_canalizaciones{
    width: auto;
    text-align: center;
}

.num_canalif{
    border: none;
    width: 3em;
    height: 1.5em;
    text-align: center;
    font-size: 15px;
}

.area_texto{
    text-align: justify;
    margin: 1em auto 0;
    display: block;
    font-size: 17px;
    font-family: Arial;
    padding: 5px 5px;
}

.respuesta_tutores{
    text-align: center;
    font-size: 17px;
    font-family: Arial;
}

.botones_reportef{
    height: 3.5em;
    display: flex;
    align-items: center;
    justify-content: center
}

.bot-generadoresf{
    color: white;
    background: #585656;
    border-radius: 5px;
    border: none;
    width: 10em;
    height: 3em;
    margin: 0 1.5em;
    display:inline;
}

.bot-generadoresf:hover {
    cursor:pointer;
    font-family: "Arial Black";
    background: #1144bf;
}

#cerrarRFinal:hover{
    cursor:pointer;
    font-family: "Arial Black";
    background: #fc1e1e;
    color: #000000;
}

#base_reportef{
    text-align: center;
}

