body{
    font-family: Arial;
    margin: 0;
    padding: 0 2em;
}

table, th, td{
    border: 1px solid #000000;
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 15px;
    color: #000000;
    position: relative;
    height: 2em;
}

#columna1, #columna4, #columna5, #columna6, #columna8{
    width: 7em;
}

#columna2{
    width: 25em;
}

#columna9{
    width: 18em;
}

#columna7{
    width: 8em;
}

#columna3, #columna10{
    width: 10em;
}

#columna11, #columna12{
    width: 6em;
}