body{
    font-family: Arial;
    margin: 0;
}

h1{
    text-align: center;
}

h2{
    margin: 0;
}

#medica_alumno{
    display:block;
    align-content: center;
    width: 60em;
    margin: 0 auto;
    padding: 1em 2em;
    border-radius: 10px;
    border: 5px solid #000000;
}

.tel_em{
    font-family: "Arial Black";
    color: #ff0000;
    margin: 0 1em;
    width: 12em;
    height: 2em;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #000000;
    text-align: center;
}

.columna1{
    width: 10em;
    height: 2em;
    border: none;
}

.columna2{
    width: 10em;
    border: none;
}

.cont1{
    display:inline-table;
    width: 25em;
    margin-right: 2em;
    padding-bottom: 1em;
}

#tabla1, #tabla2, #tabla3{
    margin: auto;
    border: none;
}

.cont2{
    display:inline-table;
    width: 30em;
    margin-left: 1em;
    padding-bottom: 1em;
}

.preg_enfer{
    text-align: center;
}

.enfermedades{
    margin-left: 4em;
}

.columna3_1{
    height: 3.7em;
    width: 10em;
}

.columna3_2{
    width: 5em;
    text-align: center;
}

.columna3_3{
    width: 10em;
}

.columna3_4{
    width: 15em;
    text-align: center;
}

.colum_comb{
    text-align: center;
}

table, th, td{
    border: 1px solid #000000;
    border-collapse: collapse;
    margin: 0;
    font-size: 16px;
    color: #000000;
}

#peso, #talla{
    margin-right: 7px;
    font-size: 15px;
    border-radius: 5px;
    width: 5em;
    text-align: center;
}

#sangre{
    height: 1.8em;
    width: 10em;
    text-align: left;
}

.label_anteherd:hover{
    color: #ff4b00;
}

#otro_hered{
    margin-left: 10px;
    font-size: 13px;
    border-radius: 7px;
    width: 13em;
    height: 1.6em;
    text-align: center;
}

.embarazo{
    text-align: center;
    width: 25em;
    height: 2em;
}

.toxicomanias{
    text-align: center;
    width: 15em;
    height: 2em;
}

.label_toxic:hover{
    color: #ff0000;
}

.ejercicio{
    text-align: center;
    width: 13em;
    height: 1.5em;
}

.columna4_1{
    width: 10em;
    height: 2em;
}

.columna4_2{
    width: 4em;
    text-align: center;
    height: auto;
}

.columna4_3{
    width: 21em;
    text-align: left;
    align-items: flex-start;
    padding-left: 10px;
    border: none;
}

.alergias{
    height: 5em;
    width: 19em;
    text-align: left;
    font-family: "Gill Sans MT";
    font-size: 14px;
}

.diab_tipo{
    width: 15em;
    height: 2em;
    text-align: center;
}

.tipos{
    width: auto;
    height: auto;
    font-size: 12px;
}

#botones_medicos{
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center
}

.bot-med{
    background: #b0adad;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    width: 10em;
    height: 2.3em;
    margin: 0 1.5em;
    color: #000000;
}

.bot-med:hover{
    font-family: "Arial Black";
    background: #900000;
    color: #FFFFFF;
}