body{
    font-family: "Gill Sans MT";
    margin: 0;
    background-image: url("../img/foto_tutores.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display:block;
}
h1{
    text-align: center;
    color: #000000;
}

h2{
    text-align: center;
    margin: 0;
    color: #FFFFFF;
}

.fecha_alta{
    text-align: right;
}

#f_alta{
    text-align: center;
    color: #ff0600;
    width: 10em;
    height: 1.5em;
}

form{
    color: #FFFFFF;
    background: rgba(60, 59, 57, 0.7);
    width: 45em;
    display:block;
    margin: 0 auto;
    padding: 1em 2em;
    border-radius: 1em;
    text-align: center;
}

select{
    text-align: center;
}

#nombre_tutor{
    text-align: center;
    width: 12em;
    height: 1.5em;
}

.apellidos_tutor{
    text-align: center;
    width: 15em;
    height: 1.5em;
}

#tipo-tutoria{
    text-align: center;
    width: 15em;
    height: 2em;
}

#area_de{
    text-align: center;
    width: 25em;
    height: 2em;
}

.alerta-email{
    background: rgba(224, 1, 1, 0.5);
    border-radius: 20px;
    border: 5px solid #390202;
    width: 40em;
    height: 7em;
    display: flex;
    margin:0px auto;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#email{
    width: 20em;
    text-align: center;
    height: 1.5em;
    font-size: 20px;
}

#usu-tutor, #pass-tutor{
    width: 15em;
    text-align: center;
    height: 1.5em;
    font-size: 17px;
}

.boton_trayectoria{
    width: 10em;
    height: 2em;
    background-color: #453d3d;
    color: #FFFFFF;
}

.botones{
    text-align: center;
}

#carpetas div{
    display: none;
    width: auto;
    margin: 0 auto;
    text-align: center;
}

img{
    height: 20em;
}

.modal-acceso{
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#m_acceso{
    background: rgba(85, 5, 4, 0.8);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 33em;
    height: 13em;
    text-align: center;
    margin: auto;
    border-radius: 1.5em;
    position: absolute;
    padding: 2em;
}

#candadito{
    height: 13em;
    display:inline-block;
    vertical-align:middle;
    margin-right: 1.5em;
}

#contenido_m_acceso{
    width: auto;
    display:inline-block;
    vertical-align:middle;
}

.login_acceso{
    text-align: center;
    background-color: white;
    width: 15em;
    height: 2em;
    font-size: 20px;
}

.botones_login_acceso{
    text-align: center;
    font-size: 15px;
    width: 8em;
    height: 2.5em;
    font-family: "Britannic Bold";
}