body{
    font-family: "Gill Sans MT";
}

h1{
    text-align: center;
}

h2{
    margin: 0;
}

#alumno_psicologia {
    display:block;
    align-content: center;
    width: 62em;
    margin: 0 auto;
    padding: 1em;
    border-radius: 10px;
    border: 5px solid #000000;
}

.p_preguntas{
    margin: 1em 0 10px;
    font-size: 25px;
}

.p_tabla {
    margin: 10px 0;
    font-size: 22px;
}

.p_sino{
    margin: 10px 0;
    font-size: 25px;
}

#preguntas, .preguntas, .respuesta{
    //border: 1px solid #000000;
    border-collapse: collapse;
    margin: 0;
    font-size: 15px;
    color: #000000;
}

.preguntas{
    width: 30em;
    height: 4em;
    text-align: justify;
}

.respuesta{
    width: 5em;
    height: 4em;
    text-align: center;
}

#cual, #porque{
    width: 25em;
    height: 2.5em;
    text-align: justify;
    font-size: 15px;
    padding: 6px;
    font-family: "Gill Sans MT";
}

#ansiedad_depresion, .ad_th, .no_escala, .preguntas_escala, .escala_pt, .resultado_escala{
    border: 1px solid #000000;
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 15px;
    color: #000000;
}

.ad_th{
    background: #00ff38;
    height: 2em;
}

.no_escala{
    width: 5em;
    text-align: center;
}

.preguntas_escala{
    padding: 0 10px;
    width: 25em;
}

.escala_pt{
    padding: 5px 10px;
    width: 20em;
}

.resultado_escala{
    width: 7em;
    text-align: center;
}

.escala_pretest{
    color: #02701d;
    background: none;
    border: none;
    width: 3em;
    height: 2em;
    text-align: center;
    font-size: 30px;
}

.carpeta_posttest{
    width: 20em;
}

.tabla_orivoc, .no_bloques, .bloques, .valor, .bloques_sn{
    border: 1px solid #000000;
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 15px;
    color: #000000;
}

.valor{
    background: #00ff38;
    height: 2em;
}

.no_bloques{
    height: 2em;
    width: 4em;
    text-align: center;
}

.bloques{
    height: 2em;
    width: 45em;
}

.bloques_sn{
    height: 2em;
    text-align: center;
    width: 5em;
}

#botones_psicologia{
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center
}

.boton_psico{
    background: #b0adad;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    width: 10em;
    height: 2.3em;
    margin: 0 1.5em;
    color: #000000;
}

.boton_psico:hover{
    font-family: "Arial Black";
    background: #900000;
    color: #FFFFFF;
}

#bloque1v_bd,#bloque2v_bd,#bloque3v_bd,#bloque4v_bd{
    width: 15em;
    text-align: center;
}