body{
    font-family: Arial;
    margin: 0;
}

h1{
    margin: 0;
    text-align: center;
}

#formulario_capt{
    margin: 0 auto 0;
    padding: 1em 2em;
    width: 50em;
    background: rgb(232, 128, 1);
    border-radius: 2em;
}

#num_control{
    text-align: center;
    font-size: 15px;
}

#opciones, #discapacidad, #riesgo_salud{
    width: 10em;
    text-align: center;
    font-size: 15px;
}

#puntaje, .puntaje_examen{
    width: 25em;
    border: 1px solid #000000;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    color: #000000;
}

.puntaje_examen{
    height: 2em;
}

.punt_examen{
    text-align: center;
    width: 4em;
}

#diagnosticos, .thdiagns, .tddiagns{
    width: auto;
    border: 1px solid #000000;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: left;
    font-size: 15px;
    color: #000000;
}

.thdiagns{
    width: 13em;
}

.tddiagns{
    width: auto;
    text-align: center;
}

.diagnosticos{
    font-family: Arial;
    text-align: left;
    padding: 3px 5px;
}

#riesgo_salud{
    height: 1.7em;
    width: 15em;
    text-align: center;
    font-size: 15px;
}

#habitos, .habitos_th, .habitos_td{
    width: auto;
    height: 2em;
    border: 1px solid #000000;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    color: #000000;
}

.habitos_td{
    width: 14em;
}

.habitos_OTME{
    height: 2em;
    width: 15em;
    text-align: center;
}

.evaluaciones{
    text-align: center;
    height: 1.5em;
}

#cursos, .thcursos, .tdcursos1, .tdcursos2, .tdcursos3{
    width: auto;
    border: 1px solid #000000;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    color: #000000;
}

.thcursos{
    height: 2em;
}

.tdcursos1{
    width: 5em;
}

.tdcursos2{
    width: auto;
}

.nombre_curso{
    text-align: center;
    width: 20em;
    height: 2em;
}

.tdcursos3{
    width: auto;
}

.result_curso{
    margin: 0 5px;
    text-align: center;
    width: 5em;
    height: 2em;
}