* {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

#trayectoria2{
    margin: 2em auto;
    background: none;
    width: 55em;
    padding: 1em;
    border-radius: 2em;
    border: 4px solid #0061de;
}

h1{
    margin: 0;
    text-align: center;
}

h2{
    margin-left: 1em;
}

#tabla_ingles_2, #inglesth_2, #inglestd_2{
//border: 1px solid #000000;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: left;
    font-size: 15px;
    color: #000000;
}

#inglesth_2{
    width: 25em;
    height: 5em;
    text-align: center;
}

#inglestd_2{
    width: 25em;
}

#nivel_ingles_2{
    margin-left: 2em;
    text-align: center;
    font-size: 15px;
    width: 13em;
    height: 1.7em;
}

.nivel_ingles_2{
    margin-left: 20px;
}

.ingles_ubicacion_2{
    margin-left: 20px;
}

#label_creditos2{
    margin-left: 1em;
}

#creditos_extras2{
    margin-left: 5px;
    text-align: center;
    width: 7em;
    height: 2em;
}

#creditos_2, .creditosth_2, .creditostd_2{
    border: 1px solid #000000;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    color: #000000;
    width: 50em;
}

.creditosth_2{
    background: #00aaff;
    height: 3em;
}

.creditostd_2{
    height: 5em;

}

.credito_2{
    text-align: center;
    font-size: 15px;
    width: 4em;
    height: 1.5em;
    margin: 3px 0;
}

#suma_tcd_2{
    border: none;
    background: none;
    text-align: center;
    font-size: 50px;
    width: 2.5em;
    height: 1em;
}


#materias_2, .materiastd1_2, .materiastd2_2, .materiastd3_2, .materiastd_2{
    border: 1px solid #000000;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    color: #000000;
}

.materiastd1_2{
    width: 10em;
}

.materiastd2_2{
    width: 30em;
    text-align: center;
}

.materiastd3_2{
    width: 10em;
}

.materiasth_2{
    height: 2em;
    background: #00aaff;
}

#cantidad_materias_2, #materias_reprobadas_2{
    font-family: "Arial Black";
    border: none;
    background: none;
    text-align: center;
    width: 4em;
    height: 2em;
}

#materias_reprobadas_2{
    color: #ec0000;
}

.materiaN_2{
    border: none;
    background: none;
    margin: 2px;
    text-align: left;
    width: 28em;
    height: 2em;
    font-size: 15px;
    color: black;
}

.calificacionN_2{
    border: none;
    background: none;
    margin: 2px 0;
    text-align: center;
    width: 8em;
    height: 2em;
    font-size: 15px;
    color: black;
}

#beca_2, .becatd_2{
//border: 1px solid #000000;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    color: #000000;
}

.becatd_2{
    width: 25em;
    height: 2em;
}

#tipo_beca_2{
    width: 25em;
    height: 2em;
    text-align: center;
}

#relbeca_2{
    text-align: left;
}

#materias2_2, .materias2th_2, .materias2td_2{
//border: 1px solid #000000;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    color: #000000;
}

.materias2th_2{
    width: 25em;
    padding: 10px 0;
}

.materias2td_2{
    width: 25em;
    text-align: left;
    padding: 10px 0;
}

.materiarep_2{
    width: 20em;
    height: 2em;
    padding-left: 7px;
    text-align: left;
    margin: 3px 0;
    font-size: 15px;
}

.label_becado_2{
    margin-left: 1em;
}

.folios_canal_2{
    margin-top: 4px;
    margin-left: 10px;
    color: #ec0000;
    width: 7em;
    height: 1.2em;
    font-size: 17px;
    text-align: center;
}


.ingles_ubicacion_2:hover, .nivel_ingles_2:hover, .label_becado_2:hover, .label_foliocanali_2:hover{
    color: #0061de;
}

#ciclo_2{
    text-align: center;
    font-size: 15px;
}

#observaciones_2{
    padding: 7px 10px;
    font-family: Arial;
}

#contenedor2_2{
    text-align: center;
}

.btn-t1_2{
    margin: 0 1.5em;
    border-radius: 5px;
    border: none;
    width: 10em;
    height: 3em;
    display:inline;
}

.btn-t1_2:hover{
    font-family: "Arial Black";
    color: #FFFFFF;
    background: #0061de;
}