body{
    font-family: Arial;
}

.logos_reportef{
    text-align: center;
}

.logosf{
    height: 7em;
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center;
    font-size: 30px;
}

h2{
    text-align: center;
}

#ReporteFinal{
    margin: 0 auto;
    border: 3px solid #000000;
    align-content: center;
    width: 50em;
    padding: 1em 2em;
    border-radius: 5px;
}

.primerf{
    text-align: center;
}

#periodofinal{
    width: 12em;
    height: 2em;
    text-align: center;
    font-size: 15px;
}

#nom_tutorf{
    text-align: center;
    width: 20em;
    height: 1.5em;
    font-size: 15px;
}

.sem_grupf{
    text-align: center;
    width: 4em;
    height: 1.7em;
    font-size: 15px;
}

#programaf{
    text-align: center;
    height: 2em;
    width: 25em;
    font-size: 15px;
}

#num_tutorado{
    text-align: center;
    height: 1.5em;
    width: 4em;
    font-size: 15px;
}




#base_reportef{
    text-align: center;
}